<!DOCTYPE html>
<html>
<head>
  <title>Qbpos01</title>
  <%= render 'layouts/stylesheets' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
    <%= render 'layouts/header' %>


<%= yield %>

</div>

<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
<script>intuit.ipp.anywhere.setup({
      menuProxy: '<%= @blue_dot_url %>',
      grantUrl: '<%= intuit_connect_url %>'
});</script>

</body>
</html>
